{% extends 'base.html.twig' %}

{% block title %}Paiement échoué{% endblock %}

{% block body %}
    <h1>Paiement échoué</h1>
    <a href="{{ path('app.home') }}">Retour à l'accueil ici</a>
{% endblock %}