{% extends 'base.html.twig' %}

{% block title %}Paiement validé{% endblock %}

{% block body %}
    <h1>Paiement validé</h1>
    <a href="{{ path('app.home') }}">Retour à l'accueil ici</a>
{% endblock %}