{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div>
        <h1>Mot de passe oublié ?</h1>
        {{ form_start(form) }}
        <div>
            <label for="">Adresse email</label>
            {{ form_widget(form.email) }}
        </div>      
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
            <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>  
{% endblock %}